*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: rgb(185, 219, 248);
    border: 10px solid rgb(55, 55, 123);
}

.content{
    max-width: 900px;
    margin: 0 auto;

}

.top_section{
    display: flex;
    justify-content: space-evenly;
}

.name{
    align-self: last baseline;
}

.image_container,img{
    width: 300px;
    height:320px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
