*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
}

a{
    margin-right: 180px;
}

.contentBox{
    height: 100px;
    width: 100px;
    margin-top: 180px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 450px;
}
 footer{
    background-color: black;
    text-align: center;
 }